@import './components/home/Home.scss';
@import './components/messages/Messages.scss';
@import './components/navbar/Navbar.scss';
@import './components/user-list/UserList.scss';
@import './components/user-list-item/UserListItem.scss';
@import './components/user-repos/UserRepos.scss';
@import './components/user-repos-item/UserReposItem.scss';

body,html {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	max-width: 100%;
	min-height: 100%;
	background:#ebebe0;
}

#app {
	max-width: 100%;
}

.main {
	max-width: 100%;
}

p {
	font-weight: bold;
}

